/* typography */

@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');


*{
    font-family: 'Varela Round', sans-serif;
}

body{
    background-color: $body-background-color;
}

main{
    color: $main-color;
}

header .app-name{
    font-size: $header-app-name-font-size;
    color: $header-app-name-color;
    text-align: center;
    text-transform: uppercase;
}

.employee-primary-text{
    font-size: 14px;
    font-weight: bold;
}

.employee-secondary-text{
    font-size: 11px;
}

.modal{
    text-align: center;
}