/* grid */

body{
    width: 100%;
    margin: 0;
    display: grid;
}

header, main{
    width: 90%;
    margin: 0 auto;
    padding: 5px;
}

.grid-container{
    display: grid;
}

.hidden{
    display: none;
}

main .grid-section {
    grid-gap: $gutter-space;
    border: 2px solid $employee-container-border-color;
}

#search{
    margin: auto;
}

[class*="employee-container"]{
    width: 90%;
    margin: $gutter-space auto;
    background-color: $employee-container-background-color;
    border-radius: 5px;
    padding: $gutter-space;
    transition: 200ms;
    
    & div{
        margin: 2px auto;
        text-align: center;
    }

}

main [class*="employee-container"]:hover{
    background-color: $employee-container-hover-background-color;
    color: $employee-container-hover-color;
}

main .employee-modal-info{
    display: none;
}
