/* tablet */ 

@media screen and (min-width: 768px){
    header .app-name{
        text-align: left;
    }

    body{
        grid-template-columns: 3fr 1fr;
    }

    main{
        width: 95%;
        grid-column-start: 1;
        grid-column-end: -1;
        grid-template-columns: 1fr 1fr;
    }

    #search{
        margin: auto auto auto 0;
    }

}