.nav {
  padding-left: 0;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  
  @include media-query($tablet){
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  &-link{
    text-align: center;
    border-radius: $all-border-radius;
    padding: $spacing-gutter 0;
    display: block;
    width: 100%;
    transition: 
      background-color .2s ease-in-out, 
      color .2s ease-in-out;
    
    @include media-query($tablet){
      flex-basis:100px;
    }  
  }
  &-link:hover{  
    color: #fff;
    background-color: $turquoise;
  }
}