/* variables */

$bg-blue-background-color: rgb(0,0,255);
$bg-purple-background-color: rgb(128,0,255);
$bg-pink-background-color: rgb(255,0,255);
$bg-magenta-background-color: rgb(255,0,128);
$bg-orange-background-color: rgb(255, 128, 0);
$bg-yellow-background-color: rgb(255,255,0);
$table-background-color: #212529;
$table-td-border-color: transparent;