/* variables */ 

// #101010;

$body-background-color: #f0f0f0;
$main-color: black;
$header-app-name-font-size: 20px;
$header-app-name-color: black;
$employee-container-hover-background-color:#202020;
$employee-container-hover-color: white;
$employee-name-color: black;
$employee-email-location-color: #808080;
$gutter-space: 5px;
$employee-container-background-color: white;
$employee-container-border-color: #808080;
$employee-search-border-color: #808080;
$employee-modal-border-color: #808080;
$modal-container-background-color: white;
$modal-container-border-color: white;
$modal-close-color: black;

