/* jumbotron */ 


main{
    position: relative;
}

.jumbotron{
    z-index: 1;
    position: absolute;
    left: 7%;
    right: 20%;
    background-color: rgba(0,0,0,0);
    /* this allows the animation table underneath to be interacted with */
    pointer-events: none;
    h1{
        margin: auto;
    }
}
