/* button */

.bg-turq{
    color: white;
    background-color: rgb(128, 225, 255);
}

.bg-turq:hover{
    color: white;
    background-color: rgb(0, 195, 255);
}

.card ul{
    list-style-type: none;
}

.card-body ul li {
	border-radius: 6px;
	padding: 5px 10px;
	margin: 2px;
}

.card-links{
    a{
        color : white;
        opacity: 0.6;
        transition: 0.3s;
    }
    a:hover{
        text-decoration: none;
        opacity: 1;
    }
}