/* table */

.board{
    background-color: $table-background-color;
}

table{
    z-index: 3;
}

tbody{
    z-index: 3;
}

td{
    border: 1px solid $table-td-border-color;
    padding-top: 3%;
    z-index: 100;
}

.animate-table-cell{
    animation: cyclePeachColor 0.5s forwards linear;
    pointer-events: none;
}

@keyframes cyclePeachColor{
    0% { 
        background-color: $bg-yellow-background-color;
        border-radius: 50%;
    }
    20% { 
        background-color: $bg-orange-background-color;
        border-radius: 40%;
    }
    40% { 
        background-color: $bg-magenta-background-color;
        border-radius: 30%;
    }
    60% { 
        background-color: $bg-pink-background-color;
        border-radius: 20%;
    }
    80% { 
        background-color: $bg-purple-background-color;
        border-radius: 10%;
    }
    100% { 
        background-color: $table-td-border-color;
        border-radius: 1%;
    }
}